.header {
	display: flex;
	height: 25vh;
	margin: 0;
}

.header__title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	margin: 0 0 0 13vw;
	background-color: #131313;
}

.header__title-span {
	transform: rotate(270deg);

	font-family: 'Rosarivo', serif;
  font-style: normal;
  font-weight: normal;
	font-size: 5vh;
	
	color: white;
}