.navigation {
  display: flex;
  align-items: flex-end;
}

.navigation__list {
  list-style: none;
  margin: 1vw;
  padding: 0;
}

.navigation__list__item {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 500;
	font-size: 1.4vh;
	
	color: #292727;
}